            +---------------------------+
            | CSCC69                    |
            | PROJECT 3: VIRTUAL MEMORY	|
            | DESIGN DOCUMENT           |
            +---------------------------+

---- GROUP ----

>> Fill in the names and email addresses of your group members.

Ahmad Hakim ahmad.hakim@mail.utoronto.ca
Ansh Aneel ansh.aneel@mail.utoronto.ca
Syed Asad Hussain asadh.syed@mail.utoronto.ca

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.
N/A

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.
N/A

            PAGE TABLE MANAGEMENT
            =====================

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

/* Structure representing a frame in the system. */
struct frame
{
  	struct hash_elem hash_elem;   /* Hash element for inserting into the frame table. */
  	struct thread *owner;         /* The owner thread of the frame */
  	bool pinned;                  /* Indicates if the frame is pinned (cannot be evicted) */
  	struct spt_entry *spe;        /* Supplementary page table entry associated with the frame */
  	void *kpage;                  /* Physical Page */
};

Added enum representing virtual page type:
/* Virtual Page Type */
enum vpt
{
	ELF_FILE,			    /* Exeutable file */
	MAPPED_FILE,                        /* Mapped file */
	SWAP                                /* Swap page */
};

/* Structure representing an entry in the supplemental page table */
struct spt_entry
{
	struct hash_elem hash_elem;       	/* Hash elem for hash table */
	uint8_t *uaddr; 			/* User virtual address for page */		
	struct frame *frame;			/* Pointer to frame struct */
	struct file *file;			/* Pointer to file */
	off_t file_offset;			/* File offset */
	size_t file_page_size;			/* Size of bytes to read into page */
	bool writable;				/* File is writable or not */
	bool in_memory;				/* If page is in memory */
	enum vpt vpt;				/* Page type */
	int swap_index;				/* Swap index */
};	

---- ALGORITHMS ----

>> A2: In a few paragraphs, describe your code for accessing the data
>> stored in the SPT about a given page.

Since the data is lazily loaded, we rely on spt to store information about pages when they are needed to be loaded. 
Further, we do this using the help of the page fault handler. 

On a page fault, we check if the not_present flag is true that is present in the intr_frame passed to the page fault. 
If not_present is true, then it means this page fault is a candidate to load data/grow stack using spt. 

We first find the associated supplemental page table entry for the faulting address using the current threads
supplemental page table. If no spt entry is found, then this page fault could be a candidate for stack extension. 
For how we extend the stack,  please see answer to B4. If its not stack extension, then we terminate the process. 

If an spt entry is found, then this means we need to bring in the data from somwhere depending on the page type (spt_entry->vpt). 
If the page is of type ELF_TYPE (executable), then we initialize a new frame, 
link the spt_entry and frame, load the file to the page using the members in spt and finally point the 
page table entry for the faulting virtual address to the physical page. 

To elaborate on how we load th file, we use the the "file_read_at()" func in file.h to read spt_entry->file_page_size bytes
from spt_entry->file starting from spt_entry->file_offset into the page. 

If the page is of type SWAP, then the we initialize a frame, link the spt_entry to the frame,
point the page table entry for the faulting virtual address to the physical page, read the swap and
swap in the corresponding swap in the swap table using the swap index which is in the spt_entry. 



>> A3: How does your code coordinate accessed and dirty bits between
>> kernel and user virtual addresses that alias a single frame, or
>> alternatively how do you avoid the issue?

---- SYNCHRONIZATION ----

>> A4: When two user processes both need a new frame at the same time,
>> how are races avoided?

When two processes both need a frame at the same time they will both call "init_frame()" function. 
In init_frame, we call "palloc_get_page()" which uses a lock to prevent two processes from 
quering the bitmap of free pages at the same time. 

If there are no pages available, palloc_get_page returns NULL and then we call evict frame to create space.
Inside the frame evict function, we use a lock called frame_table_lock that ensures only one process
can access the frame table at once. Moreover, it also helps avoid race conditions in evicting pages.
Once a page has been evicted, we release the lock before returning from the evict frame function. 
Back in init_frame, we obtain a new frame and do the neccesary iniatilizations. Once the new frame 
has been iniatilized, we again acquire the frame table lock to insert the new frame in the frame table. 

If a page is available, then we initialize the new frame, acquire the frame_table_lock and insert the frame to the frame_table.

Overall, using frame table locks and the lock in palloc_get_page ensures there are no race conditions 
if two processes both need a new frame at the same time.

---- RATIONALE ----

>> A5: Why did you choose the data structure(s) that you did for
>> representing virtual-to-physical mappings?

Both the supplemental page table and frame table is implemented as 
hash tables. This is for several reasons including:

There was an obvious key we could use for both the supplemental page table and
frame table. For spt, we used the uaddr as the key since the address of the 
user virtual page is unique per page. For frame table, we used the kernal virtual address
for the key since thats also unique per page. 

Using hash tables also gave us the advatange of faster searching/entry look-up 
in functions such as "get_spt_entry", "frame_evict" etc. 

Faster to delete entries in a hashtable as well. Especially useful when 
we want to reclaim pages and delete spt and frame table entries. 


               PAGING TO AND FROM DISK
               =======================

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

/* Structure representing a frame in the system. */
struct frame
{
  struct hash_elem hash_elem;   /* Hash element for inserting into the frame table. */
  struct thread *owner;         /* The owner thread of the frame */
  bool pinned;                  /* Indicates if the frame is pinned (cannot be evicted) */
  struct spt_entry *spe;        /* Supplementary page table entry associated with the frame */
  void *kpage;                  /* Physical Page */
	};

/* Structure representing an entry in the swap table. */
struct swap_entry
{
  bool free;    /* Indicates whether the swap slot is free */
};


static struct hash frame_table;         /* Global frame table for managing frames. */
struct lock frame_table_lock;           /* Lock to ensure mutual exclusion when accessing the frame table. */
static struct swap_entry *swap_table;   /* Lock to ensure mutual exclusion when accessing the frame table. */
static struct lock swap_table_lock;     /* Lock to ensure mutual exclusion when accessing the swap table. */
static struct block *swap_block;        /* Block device representing the swap space. */
static int swap_table_size;             /* Size of the swap table (number of entries). */

struct thread { ...
#ifdef VM
    struct hash spt;                    /* Supplemental Page Table*/
    struct hash mappings;               /* Hash table for memory mapping */
    int last_mapid;                     /* Last mapped id */
#endif
    ... }

---- ALGORITHMS ----

>> B2: When a frame is required but none is free, some frame must be
>> evicted.  Describe your code for choosing a frame to evict.

In our implementation, we employ the second chance algorithm for frame eviction, 
utilizing a hash table (frame_table) to store the frames.

When a frame needs to be evicted, we first acquire a lock on the frame_table to 
ensure consistency during the eviction process. We then perform up to two passes 
over the hash table to find a suitable frame. During each pass, we use a hash 
iterator to traverse the frame_table.

For each frame, we check if it is pinned. Pinned frames are those currently in 
use or otherwise protected from eviction, and thus cannot be evicted. If a frame 
is not pinned, we then check if the corresponding page has been accessed recently 
by examining the accessed bit in the page directory.

If the frame has been accessed recently, we reset the accessed bit to false, 
giving the frame a second chance to stay in memory. This means the frame will 
remain in memory for at least one more iteration of the eviction process. If 
the frame has not been accessed recently (the accessed bit is false), it is 
selected for eviction as it has not been used and is considered the best candidate 
for removal.

This process is repeated until a suitable frame is found. If no unpinned and 
unaccessed frame is identified after two passes through the hash table, we 
release the lock and return NULL, indicating that no frame can be evicted at this time.

By using this method, we ensure that frames that are actively being used are given 
a chance to remain in memory, while those that are not are evicted, thereby 
optimizing memory usage and system performance.


>> B3: When a process P obtains a frame that was previously used by a
>> process Q, how do you adjust the page table (and any other data
>> structures) to reflect the frame Q no longer has?

>> B4: Explain your heuristic for deciding whether a page fault for an
>> invalid virtual address should cause the stack to be extended into
>> the page that faulted.

Firstly, we check if there exists a supplemental page table entry for the
address that faulted. If there does not,  this tells us that it might 
be an invalid virtual address that should cause the stack to be extended into the page that faulted. 

Before we can even validate if the faulty address should cause the stack to extend, 
we first need the esp (stack pointer). If the page fault occured becuase of user, 
we get the esp through the intr_frame that is passed to the page fault. Else,
we obtain the esp through the saved_esp member in the current thread. 

Once we have the esp, we check if the faulting address is between PHYS_BASE and esp-32. 
The stack starts at PHYS_BASE and the faulting address could occur from PHYS_BASE to esp-32
because of the PUSH/PUSHA instrucitons. PUSH/PUSHA push at most 32 bytes at once,
hence the faulting address could be between PHYS_BASE and esp-32. If the faulting address is within the
specified range mentioned, then we check if the page, that the faulty address belongs to,
doesn't exceed the stacklimit. This is a simple check and we do this by 
checking pg_round_down (fault_addr) <= PHYS_BASE - MAX_STACK_SIZE. If this is the case, 
then we extend the stack by initializing a new spt_entry with its corresponding frame. 

If any of the above check failts, we exit the process.


---- SYNCHRONIZATION ----

>> B5: Explain the basics of your VM synchronization design.  In
>> particular, explain how it prevents deadlock.  (Refer to the
>> textbook for an explanation of the necessary conditions for
>> deadlock.)

>> B6: A page fault in process P can cause another process Q's frame
>> to be evicted.  How do you ensure that Q cannot access or modify
>> the page during the eviction process?  How do you avoid a race
>> between P evicting Q's frame and Q faulting the page back in?

>> B7: Suppose a page fault in process P causes a page to be read from
>> the file system or swap.  How do you ensure that a second process Q
>> cannot interfere by e.g. attempting to evict the frame while it is
>> still being read in?

>> B8: Explain how you handle access to paged-out pages that occur
>> during system calls.  Do you use page faults to bring in pages (as
>> in user programs), or do you have a mechanism for "locking" frames
>> into physical memory, or do you use some other design?  How do you
>> gracefully handle attempted accesses to invalid virtual addresses?

---- RATIONALE ----

>> B9: A single lock for the whole VM system would make
>> synchronization easy, but limit parallelism.  On the other hand,
>> using many locks complicates synchronization and raises the
>> possibility for deadlock but allows for high parallelism.  Explain
>> where your design falls along this continuum and why you chose to
>> design it this way.

             MEMORY MAPPED FILES
             ===================

---- DATA STRUCTURES ----

>> C1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

Added mapping field to thread struct:
#ifdef VM
    struct hash mappings;                   /* Mappings Table */
    int last_mapid;			    /* Last map id in table */
#endif

Created mapped_file struct:
struct mapped_file
	{
		mapid_t id;                         /* Map ID */
		void *addr;                         /* Mapped file's user address */ 
		struct file *file;                  /* Mapped file */
		size_t size;                        /* Mapped file's size */

		struct hash_elem hash_elem;         /* Hash elem for hash table */
	};

Added enum representing virtual page type:
/* Virtual Page Type */
enum vpt
	{
		ELF_FILE,			    /* Exeutable file */
		MAPPED_FILE,                        /* Mapped file */
		SWAP                                /* Swap page */
	};

---- ALGORITHMS ----

>> C2: Describe how memory mapped files integrate into your virtual
>> memory subsystem.  Explain how the page fault and eviction
>> processes differ between swap pages and other pages.

Each thread has its own mappings hash table to store all the mapped files.
When mmap is called, we add the passed file into this hash table, and when
munmap is called we remove it from the hashtable and write any dirty pages back
to the original file.

When a page fault occures. We check the type of page at the fault address.

If it's a swap page:
We obtains a new frame in memory and move this page from the swap table to that
new frame.

Otherwise:
We obtain a new frame in memory and load a page from the file into that frame.

If there's no available frames then we need to evict a frame into the swap 
table to make space. In eviction:

If we're evicting a frame holding a swap page or an executable page that's dirty
we move it to the swap table. Wheras if we're evicting mapped files pages that
are dirty we write them back to the mapped file. And in both cases the frame is
freed so that it can be used.

>> C3: Explain how you determine whether a new file mapping overlaps
>> any existing segment.

In the mmap syscall handler, before allocating supplemental page entries for 
the mapped file, we loop and check if the address passed in to the syscall is
already referenced by an existing supplemental page entry (its an existing 
segment) as well as all the addresses we'll need to allocate a sup page entry 
for. If any of them are already referenced, we return -1.

---- RATIONALE ----

>> C4: Mappings created with "mmap" have similar semantics to those of
>> data demand-paged from executables, except that "mmap" mappings are
>> written back to their original files, not to swap.  This implies
>> that much of their implementation can be shared.  Explain why your
>> implementation either does or does not share much of the code for
>> the two situations.

For page faults:
Both mappings created with mmap and data demand-paged executables have the same
implementation, which is obtaining a frame, load the file page to that frame 
and then link the frame's physical address to the spt entry's user address
Therefore we put both of them in the same if condition and have them share the 
implementation code.

For frame evition:
Frames for data demand-paged from executables need to be written to the swap 
wheras the frames for mappings created with mmap need to be written back to the
original file therefore we don't have them share the same code in this case.

               SURVEY QUESTIONS
               ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters or the remaining projects?

>> Any other comments?
